/* Write your CSS here */
.bg-container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-container {
  background-image: linear-gradient(#ff6e7f, #bfe9ff);
  height: 50vh;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
}
.button {
  width: 80px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  border-style: none;
}
p {
  color: #334155;
  font-family: 'Roboto';
}
h1 {
  color: #0f172a;
  font-family: 'Roboto';
}
